* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    min-width: 400px !important;
}

.wrap-container {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}

.form {
    width: 620px;
    min-height: 100vh;
    display: block;
    padding: 20px 55px 55px;
}

@media (min-width: 620px) {
    .container-img {
        width: calc(100% - 620px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
        padding: 30px 15px 0;
        max-width: 100%;
        height: auto;
        object-position: center;
        background-image: url(background.jpg);
    }
}

.container-img::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.1);
    background-size: cover;
}

.wrap {
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    border-radius: 5px;
}

.half {
    width: 50% !important;
}

.field-label, #name-label, #email-label, #number-label {
    font-size: 11px;
    color: #666;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 15px 0 2px 8px;
    font-weight: 600;
}

#name, #email, #number, #genders {
    height: 48px;
    display: flex;
    width: 100%;
    background: 0 0;
    font-size: 18px;
    color: #404b46;
    line-height: 1.2;
    padding: 0 14px;
    align-items: center;
}

input {
    outline: none;
    border: none;
}

.header-info {
    padding: 10px;
    text-align: center;
}

#description {
    padding: 10px 0 35px 0;
}

select {
    border: none !important;
    background-color: transparent !important;
    padding: 10px 20px 10px 20px!important;
    width: 100%;
    outline: none !important;
    font-size: 18px !important;
}

.radio {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 1.5em;
    padding: 5px;
    font-size: 14px !important;
}

textarea {
    min-height: 130px;
    padding-top: 14px;
    padding-bottom: 15px;
    outline: none;
    border: none;
    padding: 12px 28px;
    display: block;
    width: 100%;
    font-size: 18px;
    color: #404b46;
    overflow: auto;
    resize: vertical;
}

#submit {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #6675df;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-weight: 700;
}

#submit:hover {
    background: #404b46 !important;
    cursor: pointer;
}

button {
    border: none !important;
    outline: none !important;
}

.no-border {
    border: none !important;
    margin-bottom: 15px !important;
}

.hobbies {
    padding: 10px 15px;
}

.checkbox {
    column-count: 2;
}

fieldset.group  { 
    margin: 0; 
    padding: 0; 
    margin-bottom: 1.25em; 
    margin-top: -10px;
    padding: .125em; 
    border: 1px solid #e6e6e6;
    border-radius: 5px;
} 
  
fieldset.group legend { 
    margin: 0; 
    padding: 5px; 
    margin-left: 8px; 
    font-size: 11px;
    color: #666;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 600;
} 

ul.checkbox  { 
    margin: 0; 
    padding: 10px 10px 10px 0; 
    margin-left: 20px; 
    list-style: none; 
} 

ul.checkbox li { 
    display: flex;
    align-items: center;
    padding: 3px;
    color: #404b46;
} 

ul.checkbox li input { 
    margin-right: .5em; 
    width: 15px;
    height: 15px;
} 

ul.checkbox li label { 
    font-size: 14px;
} 
  
.field-focus {
    transition: 0.4s;
}

.field-focus ~ .focus-border:before,
.field-focus ~ .focus-border:after {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 0; 
    height: 1px; 
    background-color: #6675df; 
    transition: 0.3s;
}

.field-focus ~ .focus-border:after {
    top: auto; 
    bottom: 0; 
    left: auto; 
    right: 0;
}

.field-focus ~ .focus-border i:before,
.field-focus ~ .focus-border i:after {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 1px; 
    height: 0; 
    background-color: #6675df; 
    transition: 0.4s;
}
.field-focus ~ .focus-border i:after{
    left: auto; 
    right: 0; 
    top: auto; 
    bottom: 0;
}

.field-focus:focus ~ .focus-border:before,
.field-focus:focus ~ .focus-border:after{
    width: 100%; 
    transition: 0.3s;
}

.field-focus:focus ~ .focus-border i:before,
.field-focus:focus ~ .focus-border i:after{
    height: 100%; 
    transition: 0.4s;
}
  
.custom-select select {
    display: none !important; 
}
  
.select-selected {
    color: #404b46;
}
  
.select-selected:after {
    position: absolute;
    content: "";
    right: 25px;
    bottom: 15px;
    border: 6px solid transparent;
    border-color: #404b46 transparent transparent transparent;
}
  
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #404b46 transparent;
    right: 25px;
    bottom: 22px;
}
  
.select-items div, .select-selected {
    padding: 14px 15px 14px 15px;
    cursor: pointer;
    user-select: none;
}
  
.select-items {
    position: absolute;
    background-color: #fff;
    color: #404b46 !important;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    margin-top: 5px;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 25%) !important;
    border-radius: 5px;
}
  
.select-hide {
    display: none;
}
  
.select-items div:hover, .same-as-selected {
    background-color: #6675df;
    color: #fff !important;
}

.select-items div:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.select-items div:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 7px;
}
  
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border: rgb(235, 227, 227) 1px solid;
}
  
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container-checkbox input:checked ~ .checkmark {
    background-color: #6675df;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}
  
.container-checkbox .checkmark:after {
    top: 2px;
    right: 5px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
