*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    background: url(background.jpg);
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgba(255, 255, 255, 0.9);
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    overflow: hidden;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main::after {
    position: absolute !important;
    content: "";
    background: rgba(12, 20, 38, 0.3);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

blockquote {
    font-size: 25px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    z-index: 1;
    letter-spacing: 1px;
    max-width: 700px;
    margin-top: -100px;
}

blockquote h1 {
    font-size: 4rem;
}

blockquote p {
    margin-bottom: 0;
    font-style: italic;
    line-height: 40px;
}
 
blockquote p::before,
blockquote p::after {
    content: "“";
    font-size: 5rem;
    margin: 0 0 0 -3rem;
    position: absolute;
    opacity: 0.9;
}
 
blockquote p::after {
    content: "”";
    margin: 35px 0 0 0;
}
 
blockquote cite {
    font-size: 1.5rem;
    font-style: normal;
    text-align: left !important;
 }

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    z-index: 1;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.column {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

h1 {
    color: #fff;
    font-size: 6rem;
    padding: 50px 0 30px 0;
}

.flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
}

#meridiem {
    font-size: 15px;
}

/* #focus-area {
    -webkit-animation: fadein 0.5s;
    animation: fadein 1s;
} */

#name, #focus-today {
    font-size: 35px;
    padding: 5px 20px 5px 20px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid;
    border-left: 0;
    width: 230px;
    text-align: center;
    background: none;
    color: #fff;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

#focus-today {
    width: 400px !important;
}

.focus-padding {
    padding-top: 50px !important;
}

.field-label {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

.hidden {
    display: none !important;
}

input, p {
    outline: none;
}

.todo {
    border: 1px solid white;
    padding: 10px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

.fadeout {
    -webkit-animation: fadeout 1s !important;
    animation: fadeout 1s !important;
}

.todo:hover {
    background: rgba(255, 255, 255, 0.2);
}

.todo:first-child {
    margin-top: 10px;
}

.todo:last-child {
    margin-bottom: 0;
}

#todo-input {
    padding: 5px 10px 2px 0;
    width: 300px;
    background: none;
    color: white;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    border-left: 0;
    font-size: 16px;
}

#todo-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#todo-list {
    padding-inline-start: 0 !important;
    height: auto;
    overflow: auto;
    max-height: 70vh;
}

.todo-area {
    position: absolute;
    top: 0;
    right: -100px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 3px;
    z-index: 2;
}

::-webkit-scrollbar {
    width: 0;
}

#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
    font-size: 12px;
}
  
#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

.btn {
    z-index: 2;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.reset-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    padding: 5px 10px;
    margin: 20px;
}

.todo-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    padding: 5px 10px;
    margin: 20px;
}

.slide span {
    position: relative;
    z-index: 2;
}
  
.slide:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    transition: all .5s;
}
  
.slide:hover {
    color: #fff;
    background: transparent;
    transition: all .35s ease-in-out;
}
  
.slide:hover:after {
    width: 100%;
}

.wrapper {
    position: relative;
}

blockquote.tip,
div.tip {
    position: relative;
}

blockquote.tip span,
div.tip span {
    display: none;
    position: absolute;
    left: 25%;
    z-index: 100;
    background: #000;
    color: #fff;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}

blockquote.tip span {
    left: 38% !important;
}

blockquote.tip span:before,
div.tip span:before {
    content:'';
    display:block;
    position:absolute;
    
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-right:8px solid black;
    left: 45%;
    top: -10px;
    transform: rotate(90deg)
}

.tiptext {
    font-size: 12px;
    padding: 10px 15px;
}

blockquote:hover.tip span,
div:hover.tip span {
    display: block;
}

.done {
    text-decoration: line-through;
}

.fa {
    margin: 0 5px;
}

.fa.fa-times {
    margin: 0 0 0 15px !important;
    cursor: pointer;
    height: 20px;
}
  
@-webkit-keyframes fadein {
    from {
        bottom: 0; 
        opacity: 0;
    }
    to {
        bottom: 30px; 
        opacity: 1;
    }
}
  
@keyframes fadein {
    from {
        bottom: 0; 
        opacity: 0;
    }
    to {
        bottom: 30px; 
        opacity: 1;
    }
}
  
@-webkit-keyframes fadeout {
    from {
        bottom: 30px; 
        opacity: 1;
    }
    to {
        bottom: 0; 
        opacity: 0;
    }
}
  
@keyframes fadeout {
    from {
        bottom: 30px; 
        opacity: 1;
    }
    to {
        bottom: 0; 
        opacity: 0;
    }
}

@-webkit-keyframes fade-in-down {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@-moz-keyframes fade-in-down {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes fade-in-down {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

.in-down {
    -webkit-animation-name: fade-in-down;
    -moz-animation-name: fade-in-down;
    -o-animation-name: fade-in-down;
    animation-name: fade-in-down;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@-moz-keyframes fade-in-left {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fade-in-left {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@-moz-keyframes fade-in-right {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fade-in-right {
    from {
        opacity:0;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
}
.in-left {
    -webkit-animation-name: fade-in-left;
    -moz-animation-name: fade-in-left;
    -o-animation-name: fade-in-left;
    animation-name: fade-in-left;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-duration:1.5s;
    animation-delay: 1.5s;
}

.in-right {
    -webkit-animation-name: fade-in-right;
    -moz-animation-name: fade-in-right;
    -o-animation-name: fade-in-right;
    animation-name: fade-in-right;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration: 0.5s;
    animation-delay: 0.5s;
}

  